body {
    margin: 60px auto;
    width: 80%;
}

header {
   width: 100%;
}

img.hdrimg {
  dispay: block;
  width
}

section {
  postion: absolute;
  width: 100%;
}

img.sectimg {
  postion: absolute;
  dispay: block;
  width: 30%;
  align: left;
}

article {
  postion: absolute;
  width: 70%;
  align: right;
}
