* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .col {
  padding: 8px;
}

.col {
  float: left;
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.section {
  background-color: white;
  padding: 10px;
}

footer {
  postion: absolute;
  margin: 10px;
  width: 100%;
}
