body {
    margin: 60px auto;
    width: 80%;
}

header {
   height: 100px;
}

img.hdrimg {
  dispay: block;
  height: 75px;
}

section {
  height: 150px;
}

img.sectimg {
  dispay: block;
  width: 30%;
  align: left;
}
